@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-light text-dark;
}

main {
  @apply bg-light bg-transparent backdrop-blur-[150px] z-10;
}

.hero-img {
  filter: grayscale(100%);
}

.content {
  background: rgba(0, 0, 0, 0.4);
  pointer-events: none;
}
.content a {
  pointer-events: all;
}

.text-slider {
  height: calc(100vh - calc(100vh - theme(height.nav)));
}

label {
  @apply font-semibold text-lg;
}

input,
textarea {
  @apply p-4 border-2 text-gray-700 rounded-md text-lg outline-none border-gray-700 mb-4;
}

.history-anim h2,
.history-anim p {
  transition: all 0.2s linear;
}
.history-anim:hover h2 {
  transform: translateX(-10px);
}
.history-anim:hover p {
  transform: translateX(10px);
}

.modal-slider {
  transition: all 0.5s cubic-bezier(0.87, 0, 0.13, 1);
}
