@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-light text-dark;
}

section {
  height: calc(100vh - theme(height.nav) * 2);
}

.hero-img {
  filter: grayscale(100%);
}

.content {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.8) 58%,
    rgba(0, 0, 0, 0.66) 73%,
    rgba(255, 255, 255, 0) 100%
  );
  pointer-events: none;
}
.content a {
  pointer-events: all;
}

.text-slider {
  height: calc(100vh - calc(100vh - theme(height.nav)));
}
